page: {
padding: "40px",
background: "#f5f7fb",
minHeight: "100vh",
fontFamily: "Arial"
},

title: {
marginBottom: "30px"
},

card: {
background: "white",
padding: "25px",
borderRadius: "12px",
marginBottom: "40px",
boxShadow: "0 6px 20px rgba(0,0,0,0.08)"
}